body{
    margin: 0px;
    padding: 0px;
}

.mainBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    max-width: 50px;
}