body{
    margin: 0px;
    padding: 0px;
}

.navbar{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    gap: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.navButtons{
    display: flex;
    gap: 20px;
}

.display h3{
    margin: 15px 10px;
}

.task{
    display: flex;
    background-color: rgba(0, 154, 214, 0.911);
    color: white;
    padding: 5px;
    border-radius: 5px;
    max-width: fit-content;
    margin: 8px;
}

.taskButtons{
    display: flex;
}

.taskButtons a img {
    width: 20px;
    height: 20px;
}