body{
    margin: 0px;
    padding: 0px;
}

.navbar{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    gap: 300px;
}

.navButtons{
    display: flex;
    gap: 20px;
}

.task{
    display: flex;
    background-color: rgba(0, 154, 214, 0.911);
    color: white;
    padding: 5px;
    border-radius: 5px;
    max-width: fit-content;
    margin: 8px;
}