<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khatabook</title>
</head>
<body>
    <nav>
        <div class="brandName">Khatabook</div>
        <div class="navButtons">
            <button>Home</button>
            <Button>Create New Hisab</Button>
        </div>
    </nav>
</body>
</html>