<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khatabook</title>
    <link rel="stylesheet" href="/02_backEnd/khatabook/public/css/style.css">
</head>
<body>
    <nav>
        <div class="brandName">Khatabook</div>
        <div class="navButtons">
            <button>Home</button>
            <Button>Create New Hisab</Button>
        </div>
    </nav>
    <div class="display">
        <div class="date">20-09-2025</div>
        <div class="arrowBtn">-></div>
        <div class="editBtn">edit</div>
        <div class="deleteBtn">delete</div>
    </div>
</body>
</html>